@mixin shadow($size:"small") {
  @if $size == "small" {
    $value:0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow:$value;
    -webkit-box-shadow:$value;
    -moz-box-shadow:$value;
  } @else {
    $value:0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow:$value;
    -webkit-box-shadow:$value;
    -moz-box-shadow:$value;
  }
}

@mixin border-radius($rad:$radius) {
  @include border-top-radius($rad);
  @include border-right-radius($rad);
  @include border-bottom-radius($rad);
  @include border-left-radius($rad);
}

@mixin flex-container($direction:row, $wrap:wrap, $justify:flex-start, $align:flex-start) {
  display: flex;
  /* or inline-flex */
  flex-direction: $direction;
  /* row | row-reverse | column | column-reverse */
  flex-wrap: $wrap;
  /* nowrap | wrap | wrap-reverse; */
  justify-content: $justify;
  /*flex-start | flex-end | center*/
  align-items: $align;
  /* flex-start | flex-end | center | baseline | stretch; */
}

@mixin flex-item($grow:1, $align:auto){
  flex-grow: $grow;
  flex-basis:auto;
  align-self: $align;
  /* auto | flex-start | flex-end | center | baseline | stretch; */
}